<app-main-nav />
<div class="bus-details">
  <div class="bus-info">
    <img class="bus-image" [src]="link + busDetails.busImage" alt="Bus Image" />
  </div>
  <div class="bus-name">Bus Name: {{ busDetails.busName }}</div>
  <div class="bus-no">Bus No: {{ busDetails.busNo }}</div>
  <div class="route-info">
    <div class="origin">Origin: {{ busDetails.origin }}</div>
    <div class="destination">Destination: {{ busDetails.destination }}</div>
    <div class="departure">
      Departure: {{ busDetails.departureDate | date }}
      {{ busDetails.departureTime }}
    </div>
    <div class="arrival">
      Arrival: {{ busDetails.arrivalDate | date }} {{ busDetails.arrivalTime }}
    </div>
    <div class="duration">Duration: {{ busDetails.duration }}</div>
  </div>
  <div class="fare-info">
    <div class="fare">Fare: {{ busDetails.fare }}</div>
    <div class="seats-available">
      Seats Available: {{ busDetails.seatsAvailable }}
    </div>
    <div class="bus-type">Type: {{ busDetails.type }}</div>
  </div>

  <div *ngIf="wishedSeat.length" class="text-center h2">
    Seats Selected: <strong>{{ wishedSeat.length }}</strong>
    <br />
    Total Fare : {{ wishedSeat.length * busDetails.fare }} =
    {{ wishedSeat.length * busDetails.fare | currency : "INR" }}
    <br />
    <!-- <button class="btn btn-primary" (click)="bookTicket()">Book Ticket</button> -->
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal1"
      style="background-color: #0a58ca"
    >
      Proceed to Book
    </button>
  </div>

  <div class="container">
    <div class="row gap-5 justify-content-center">
      <div
        class="seat text-center card"
        *ngFor="let item of seats"
        (click)="checkAvailable(item) ? selectSeat(item) : ''"
      >
        <span
          class="{{
            checkAvailable(item)
              ? checkSelected(item)
                ? 'bg-success'
                : 'bg-primary'
              : 'bg-danger'
          }}"
        >
          {{ item }}</span
        >
      </div>
      <!-- checkAvailable(item)?'bg-danger': -->
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Payment</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          class="credit-card w-full p-8 sm:w-auto shadow-lg mx-auto rounded-xl bg-white"
          x-data="creditCard"
        >
          <header class="flex flex-col justify-center items-center">
            <ul class="flex">
              <li class="mx-2">
                <img
                  class="w-16"
                  src="https://www.computop-paygate.com/Templates/imagesaboutYou_desktop/images/computop.png"
                  alt=""
                />
              </li>
              <li class="mx-2">
                <img
                  class="w-14"
                  src="https://www.computop-paygate.com/Templates/imagesaboutYou_desktop/images/verified-by-visa.png"
                  alt=""
                />
              </li>
              <li class="ml-5">
                <img
                  class="w-7"
                  src="https://www.computop-paygate.com/Templates/imagesaboutYou_desktop/images/mastercard-id-check.png"
                  alt=""
                />
              </li>
            </ul>
          </header>
          <main class="mt-4 p-4">
            <h1 class="text-xl font-semibold text-gray-700 text-center">
              Card payment
            </h1>
            <div class="">
              <div class="my-3">
                <input
                  type="text"
                  name="holderName"
                  class="block w-full px-5 py-2 border rounded-lg bg-white shadow-lg placeholder-gray-400 text-gray-700 focus:ring focus:outline-none"
                  placeholder="Card holder"
                  maxlength="22"
                  x-model="cardholder"
                />
              </div>
              <div class="my-3">
                <input
                  type="text"
                  name="cardNumber"
                  class="block w-full px-5 py-2 border rounded-lg bg-white shadow-lg placeholder-gray-400 text-gray-700 focus:ring focus:outline-none"
                  placeholder="Card number"
                  maxlength="19"
                />
              </div>
              <div class="my-3 flex flex-col">
                <div class="mb-2">
                  <label for="" class="text-gray-700">Expired</label>
                </div>
                <div class="grid grid-cols-2 sm:grid-cols-4 gap-2">
                  <select
                    id="dept"
                    name="expiryMonth"
                    class="border bg-transparent border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  >
                    <option value="" selected>MM</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <select
                    id="dept"
                    name="expiryYear"
                    placeholder="type"
                    class="border bg-transparent border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  >
                    <option className="text-black" value="">YY</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2022">2027</option>
                    <option value="2021">2028</option>
                  </select>

                  <input
                    type="text"
                    name="bidderEmail"
                    class="block w-full col-span-2 px-5 py-2 border rounded-lg bg-white shadow-lg placeholder-gray-400 text-gray-700 focus:ring focus:outline-none"
                    placeholder="Security code"
                    maxlength="3"
                  />
                </div>
              </div>
            </div>
          </main>
          <footer class="mt-6 p-4">
            <button
              class="submit-button px-4 py-3 rounded-full bg-blue-300 text-blue-900 focus:ring focus:outline-none w-full text-xl font-semibold transition-colors"
              data-bs-dismiss="modal"
              (click)="bookTicket()"
            >
              Pay now
            </button>
          </footer>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          style="background: #565e64"
        >
          Close
        </button>
        <!-- <button
          type="button"
          class="btn btn-primary"
          style="background-color: #0a58ca"
          (click)="bookTicket()"
        >
          Confirm
        </button> -->
      </div>
    </div>
  </div>
</div>

