.bus-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .bus-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .bus-image {
    width: 150px;
    height: auto;
    margin-right: 10px;
  }
  
  .bus-name,
  .bus-no {
    font-weight: bold;
  }
  
  .route-info,
  .fare-info {
    margin-bottom: 10px;
  }
  
  .origin,
  .destination,
  .departure,
  .arrival,
  .duration,
  .fare,
  .seats-available,
  .bus-type {
    margin-bottom: 5px;
  }

  .seat.text-center.card {
    max-width: 50px;
    padding: 0%;
}

.row.gap-5.justify-content-center {
    max-width: 355px;
    margin: auto;
}

.seat.text-center.bg-success.card {
  max-width: 50px;
}

span {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: antiquewhite;
}
