<app-main-nav />

<body>
  <header>
    <h1>Make My Vacation Ticket Booking Support</h1>
  </header>

  <div class="container">
    <h2 class="text-cyan-500">Support</h2>

    <div class="quote">
      <blockquote>
        "The purpose of our lives is to be happy." - Dalai Lama
      </blockquote>
    </div>

    <div class="quote">
      <blockquote>
        "The only way to do great work is to love what you do." - Steve Jobs
      </blockquote>
    </div>

    <div class="quote">
      <blockquote>
        "Success is not the key to happiness. Happiness is the key to success.
        If you love what you are doing, you will be successful." - Albert
        Schweitzer
      </blockquote>
    </div>

    <h3>Contact Us</h3>
    <p>
      If you have any questions or need assistance, please feel free to reach
      out to our support team.
    </p>

    <p>Email: support@makemyvacationsticketbooking.com</p>
    <p>Phone: 123-456-7890</p>
    <p>Name: ABC</p>
  </div>

  <footer>
    <p>&copy; 2023 Make My Vacation Ticket Booking. All rights reserved.</p>
  </footer>
</body>
