<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <app-main-nav />
        <div class="bg-blue-800 content-fit">
            <div class="grid grid-cols-12">
                <div class="col-start-2 col-span-6 mt-10">
                    <h2 class="text-5xl mt-10 text-white font-bold">Find
                        Your
                        Next Journey</h2>
                    <h2 class="text-2xl mt-5 text-white ">Search deals on
                        busses
                        and much more</h2>
                </div>
                <div class="col-start-2 col-end-5 mt-5">

                    <input class=" shadow appearance-none border border-4
                            border-yellow-500 rounded w-full py-4
                            py-2 px-3 text-gray-700 leading-tight
                            focus:outline-none
                            focus:shadow-outline" id="username" type="text"
                        placeholder="Where you are going ?">
                </div>
                <div class="col-start-5 col-end-7 mt-5">

                    <div class="relative max-w-sm">
                        <div class="absolute inset-y-0 left-0 flex
                                items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5
                                    text-gray-500 dark:text-gray-400"
                                fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"><path
                                    fill-rule="evenodd" d="M6 2a1 1 0 00-1
                                        1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2
                                        0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2
                                        0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000
                                        2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </div>
                        <input datepicker type="text" class="bg-gray-50 py-4 
                                border border-4 border-yellow-300 text-gray-900 text-sm
                                rounded-lg focus:ring-blue-500
                                focus:border-blue-500 block w-full pl-10 p-2.5
                                dark:bg-gray-700 dark:border-gray-600
                                dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500
                                dark:focus:border-blue-500" placeholder="Select
                                date">
                    </div>
                </div>
                <div class="col-start-7 col-end-9 mt-5">
                    <input class="shadow appearance-none border border-4
                            border-yellow-500 rounded w-full py-4
                            py-2 px-3 text-gray-700 leading-tight
                            focus:outline-none
                            focus:shadow-outline" id="username" type="text"
                        placeholder="Adults">
                </div>
                <div class="col-start-9 col-end-12 mt-5">
                    <button class="shadow appearance-none w-64 border
                            border-4
                            border-yellow-500 rounded py-4 font-bold
                            py-2 px-3 text-white leading-tight
                            focus:outline-none
                            focus:shadow-outline" type="button">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <script src="../path/to/flowbite/dist/datepicker.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/datepicker.min.js"></script>
    </body>
</html>

